*.pir
*.class
*~
*.dll
*.dll.mdb
*.jar
gen_*
dotnet/compiler/x.*
dotnet/compiler/NQPSetting.cs
dotnet/runtime/obj/*
java/compiler/x.*
java/compiler/NQPSetting.*
java/compiler/RakudoOutput.*
lua/compiler/RakudoRuntime.lua
lua/compiler/NQPSetting.lua
lua/compiler/P6Objects.lua
lua/compiler/x.lua
lua/compiler/*.lbc
lua/compiler/*.dll
lua/compiler/icu